body {}

.fff {
	// position: absolute;
	// width: 100vh;
background-image: url(/fon.png);
	background-position-x: center;
	background-color: rgba(255, 255,255, .1) ;
	// z-index: 100;
}

.fon-img {
	
	// 	position: absolute;
	// 	top: 0;
	// 	z-index: -100;
	// 	left: 50%;
	// transform: translateX(-50%);
	// 
}

// 	img {
// 		//display: block;
// 		display: block;
// 		border: none;
// 		opacity: 0.3;
// 	}
// }

// .fon01 {
// 	// padding: 0 90px;
// 	// padding-left: 110px;
// 	position: absolute;
// 	transform: translateX(-50%);
// 	z-index: -100;
// 	top: 0px;

// 	.myCol {
// 		height: 102px;
// 		text-align: center;
// 		color: red;
// 		//padding: 0 5px;
// 		border: 1px solid gray;
// 		width: 47px;

// 	}
// }


.fon {
	// padding: 0 90px;

	// padding-top: 100px;
	// margin-bottom: -10060px;
	// padding-left: 110px;
	// position: absolute;
	// z-index: -100;
	// top:
	// 	/*100px;*/
	// 	0;

	// .myCol {
	// 	height: 10000px;
	// 	text-align: center;
	// 	color: red;
	// 	// padding: 0 5px;
	// 	border: 1px solid gray;
	// 	width: 47.1px;

	// }
}