@charset "UTF-8";
.h-centered {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h-right {
  display: inline-block;
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/src/fonts/MyriadPro.otf");
  font-weight: normal;
  font-style: normal;
}

.no-out-gap {
  margin-left: 0;
  margin-right: 0;
}

.no-in-gap {
  padding-left: 0;
  padding-right: 0;
}

.no-gap {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.noborder {
  border: 0;
}

.fon {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: url(/src/img/fon-2.png) no-repeat;
  background-position-x: center;
  opacity: 0.6;
  padding: 0;
  min-width: 1146px;
  z-index: -500;
}

.fon .myCol {
  height: 10000px;
  text-align: center;
  color: red;
}

.fon .myCol:nth-child(2n) {
  background: rgba(190, 190, 190, 0.2);
}

.fon .myCol:nth-child(2n+1) {
  background: rgba(0, 54, 163, 0.1);
}

.section-main {
  min-height: 908px;
  padding-bottom: 351px;
}

.section-main .main-header {
  height: 96px;
  min-height: auto;
  display: table-cell;
  vertical-align: middle;
}

.section-main .main-header .header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-main .main-header .header-logo-container .logo {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.65px;
}

.section-main .main-header .header-logo-container .logo .logo-black {
  color: black;
  vertical-align: -4px;
}

.section-main .main-header .header-logo-container .logo .logo-red {
  color: #e60000;
  vertical-align: -4px;
}

.section-main .main-header .header-theme-container .theme {
  font-weight: lighter;
  line-height: 17px;
  vertical-align: -2px;
}

.section-main .main-header .header-phone-container .phone {
  position: relative;
  left: 6px;
}

.section-main .main-header .header-phone-container .phone-text {
  position: relative;
  left: 3px;
  top: -2px;
  font-weight: lighter;
}

.section-main .main-header .header-phone-container .phone-num {
  font-size: 16px;
  font-weight: 600;
}

.section-main .main-header .header-adress-container {
  padding-left: 15px;
}

.section-main .main-header .header-adress-container .adress-gps-point {
  display: table-cell;
  vertical-align: middle;
}

.section-main .main-header .header-adress-container .adress-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 21px;
}

.section-main .header-navbar {
  padding-left: 32px;
  padding-right: 26px;
  margin: 0 7px;
  font-size: 16px;
  background-color: #e60000;
  min-height: 58px;
  opacity: 0.5;
}

.section-main .header-navbar a {
  height: 58px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.section-main .header-navbar .nav .menu {
  padding: 0 18.3px;
}

.section-main .header-navbar .nav .dropdown .dropdown-toggle {
  padding-left: 17px;
  padding-right: 12px;
}

.section-main .header-navbar .nav .dropdown .dropdown-toggle span {
  vertical-align: -1px;
}

.section-main .header-navbar .nav .dropdown .dropdown-menu-arrow {
  padding-left: 7px;
  padding-top: 5px;
}

.section-main .header-navbar .nav .dropdown .dropdown-menu {
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 23px;
}

.section-main .header-navbar .nav .dropdown .dropdown-menu a {
  height: auto;
  padding-top: 9.5px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 50px;
}

.section-main .header-navbar .navbar-right a {
  padding-left: 12px;
  padding-right: 12px;
}

.section-main .slogan-1 {
  margin-top: 148px;
}

.section-main .slogan-1 .text-1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  color: aqua;
}

.section-main .slogan-2 {
  margin-top: 16px;
}

.section-main .slogan-2 .text-2 {
  font-size: 16.1px;
}

.section-main .main-btn-container {
  margin-top: 38px;
  margin-left: 1px;
}

.section-main .main-btn-container .btn {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 12px;
  font-size: 16px;
  padding-right: 20px;
  width: 192px;
  height: 54px;
  outline: 1px solid red;
}

.section-main .main-btn-container .btn-yes {
  background-color: transparent;
}

.section-main .main-btn-container .btn-ask {
  background-color: transparent;
  color: white;
}

.section-main .main-btn-container .btn-ask:hover {
  background-color: darkgray;
}

.section-about {
  min-height: 605px;
}

.section-about .about-header {
  font-size: 30px;
  font-weight: bold;
  padding: 73px 0px 15px 0px;
}

.section-about .about-header .header-text {
  position: relative;
  padding-left: 5px;
}

.section-about .about-header .header-text::before {
  position: absolute;
  top: 55px;
  left: 6px;
  height: 2px;
  width: 82px;
  background-color: #00ff15;
  content: "";
}

.section-about .about-content-text {
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 10px;
  float: left;
}

.section-about .about-content-text p {
  margin: 19px 0;
}

.section-about .about-content-digit {
  margin-left: -10px;
  line-height: 1;
  min-height: 201px;
}

.section-about .about-content-digit .digit {
  margin-bottom: 13px;
  min-height: 188px;
}

@media (min-width: 700px) and (max-width: 768px) {
  .section-about .about-content-digit .digit {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .section-about .about-content-digit .digit {
    width: 50%;
    float: left;
  }
}

.section-about .about-content-digit .digit:nth-child(1) .digit-text {
  width: 130px;
}

.section-about .about-content-digit .digit:nth-child(2) .digit-text {
  width: 130px;
}

.section-about .about-content-digit .digit:nth-child(3) .digit-text {
  width: 175px;
  font-family: "Open Sans";
}

.section-about .about-content-digit .digit:nth-child(4) .digit-text {
  width: 145px;
  font-family: "Open Sans";
}

.section-about .about-content-digit .digit:nth-child(5) .digit-text {
  width: 110px;
  font-family: "Open Sans";
}

.section-about .about-content-digit .digit:nth-child(6) .digit-text {
  width: 165px;
  font-family: "Open Sans";
}

.section-about .about-content-digit .digit .digit-vol {
  padding-top: 25px;
  font-size: 71.95px;
  color: #e60000;
  font-weight: bold;
}

.section-about .about-content-digit .digit .digit-header {
  margin-top: 6px;
  font-size: 23.98px;
  font-weight: 600;
}

.section-about .about-content-digit .digit .digit-text {
  padding-top: 10px;
  font-family: "Myriad Pro";
  font-size: 13.99px;
  line-height: 1.2;
  margin: 0 auto;
}

.section-services {
  min-height: 1003px;
}

.section-services .section-header {
  padding: 61px 5px 15px 5px;
}

.section-services .section-header .header-text {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
}

.section-services .section-header .header-text::before {
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 82px;
  background-color: #00ff15;
  content: "";
}

.section-services .section-content .img-body {
  margin-top: 46px;
  display: inline-block;
  height: auto;
  max-width: 100%;
  position: relative;
}

.section-services .section-content .img-body:hover::before {
  position: absolute;
  content: "Высокий уровень вовлечения представителей целевой	аудитории является четким доказательством простого факта\003a высокотехнологичная концепция общественного уклада не дает нам иного выбора\003a кроме определения поэтапного и последовательного развития общества\002e  Предварительные выводы неутешительны\003a  глубокий уровень погружения\002e";
  color: white;
  top: 0;
  left: 0;
  bottom: 4px;
  right: 0;
  padding-left: 32px;
  padding-right: 35px;
  padding-top: 24px;
  background-color: #494949;
  opacity: 0.8;
}

.section-services .section-content .img-body:hover::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: red;
}

.section-services .section-content .img-footer {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 16px;
}

.section-spec {
  min-height: 876px;
}

.section-spec .section-header {
  padding: 70px 5px 15px 5px;
}

.section-spec .section-header .header-text {
  position: relative;
  font-size: 30px;
  font-weight: bolder;
}

.section-spec .section-header .header-text::before {
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.section-spec .img-body {
  padding-top: 40px;
  display: block;
  height: auto;
  max-width: 100%;
}

.section-spec .img-footer {
  position: relative;
  max-width: 400px;
  margin-top: 15px;
}

.section-spec .img-footer .img-footer-spec {
  font-size: 16px;
  padding-bottom: 3px;
  letter-spacing: 0.45px;
}

.section-spec .img-footer .img-footer-name {
  font-size: 18px;
  font-weight: 600;
}

.section-spec .img-footer .img-footer-name::before {
  position: absolute;
  top: 67px;
  left: 1px;
  height: 2px;
  width: 94px;
  background-color: #e60000;
  content: "";
}

.section-spec .img-footer .img-footer-text {
  font-size: 14px;
  padding-top: 37px;
  padding-bottom: 18px;
  line-height: 19px;
  padding-left: 2px;
}

.section-advantage {
  min-height: 588px;
}

.section-advantage .advantage-header {
  padding: 51px 0px 34px 0px;
}

.section-advantage .advantage-header .header-text {
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.section-advantage .advantage-header .header-text::before {
  position: absolute;
  top: 55px;
  left: 49.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 82px;
  background-color: #e60000;
  content: "";
}

.section-advantage .advantage-content {
  max-width: 660px;
  line-height: 19px;
  font-size: 14px;
  padding-right: 6px;
}

.section-advantage .advantage-stamps {
  margin-top: 62px;
}

.section-advantage .advantage-stamps .stamp {
  display: inline-block;
  position: relative;
  width: 235px;
}

.section-advantage .advantage-stamps .stamp .img-body {
  background-color: rgba(0, 50, 0, 0.3);
}

.section-advantage .advantage-stamps .stamp .img-body .sign {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-advantage .advantage-stamps .stamp .img-footer {
  margin-top: 20px;
  position: relative;
}

.section-advantage .advantage-stamps .stamp .img-footer .img-footer-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.section-advantage .advantage-stamps .stamp .img-footer .img-footer-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
}

.section-portfolio {
  min-height: 1207px;
}

.section-portfolio .section-header {
  margin-top: 80px;
}

.section-portfolio .section-header .header-text {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.25;
  padding-right: 8px;
}

.section-portfolio .section-header .header-text::before {
  position: absolute;
  top: 52px;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 82px;
  background-color: #00ff15;
  content: "";
}

.section-portfolio .section-content {
  margin-top: 49px;
  padding-bottom: 7px;
}

.section-portfolio .section-content .img-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section-portfolio .section-content .img-body .img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-portfolio .section-content .img-body .img:hover {
  -webkit-transform: scale(1.0273);
          transform: scale(1.0273);
}

.section-portfolio .footer {
  margin-top: 19px;
}

.section-portfolio .footer .footer-text {
  color: red;
  max-width: 890px;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: lighter;
  padding-right: 7px;
  line-height: 1.35;
}

.section-portfolio .footer-btn {
  margin-top: 27px;
}

.section-portfolio .footer-btn .footer-btn-col .btn-view-foto {
  background-color: #e60000;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 14px;
  height: 56px;
}

.section-portfolio .footer-btn .footer-btn-col .btn-view-foto .btn-text {
  letter-spacing: 0.3px;
  font-size: 16px;
}

.section-feedback {
  min-height: 1126px;
}

.section-feedback .section-header {
  margin-top: 42px;
}

.section-feedback .section-header .header-text {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  padding-left: 14px;
}

.section-feedback .section-header .header-text::before {
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.section-feedback .section-content {
  margin-top: 41px;
}

.section-feedback .section-content .add-new-feedback {
  display: block;
  height: 38px;
  width: 44px;
  background-color: #e60000;
  position: relative;
  left: 91.5%;
  font-size: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.section-feedback .section-content .add-new-feedback .circle {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
}

.section-feedback .section-content .add-new-feedback .circle::before {
  content: "";
  width: 2px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e60000;
  z-index: 100;
}

.section-feedback .section-content .add-new-feedback .circle::after {
  content: "";
  width: 12px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e60000;
  z-index: 100;
}

.section-feedback .section-content .content-row {
  margin-bottom: 50px;
  position: relative;
}

.section-feedback .section-content .feedback-foto {
  position: absolute;
  top: 0%;
  bottom: 0%;
}

.section-feedback .section-content .feedback-foto .foto-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-feedback .section-content .item-content {
  position: relative;
  border: 1px solid red;
  border-radius: 10px;
  min-height: 214px;
}

.section-feedback .section-content .item-content .item-header-name {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 600;
}

.section-feedback .section-content .item-content .item-header-date {
  margin-top: 3px;
  font-size: 14px;
  color: red;
}

.section-feedback .section-content .item-content .item-text {
  color: red;
  margin-top: 7px;
  line-height: 19px;
  margin-left: -1px;
}

.section-feedback .section-content .item-content .smoked-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 191px;
  background: -webkit-gradient(linear, left bottom, left top, from(grey), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, grey, rgba(255, 255, 255, 0));
  z-index: 100;
  width: 100%;
}

.section-feedback .section-content .item-content-right {
  color: green;
  padding-right: 25px;
  padding-left: 30px;
  margin-left: 40px;
}

.section-feedback .section-content .item-content-right::before {
  position: absolute;
  content: "";
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 35px solid transparent;
  border-right-color: green;
  border-left: 0px;
}

.section-feedback .section-content .item-content-left {
  color: green;
  padding-right: 25px;
  padding-left: 30px;
  margin-right: 40px;
  margin-left: 8px;
}

.section-feedback .section-content .item-content-left::after {
  position: absolute;
  content: "";
  right: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 35px solid transparent;
  border-left-color: green;
  border-right: 0px;
}

.section-feedback .all-feedbacks {
  height: 54px;
  padding-top: 14px;
  margin-left: 11px;
  margin-top: 10px;
}

.section-timeline {
  min-height: 893px;
  color: darkred;
}

.section-timeline .section-header {
  margin-top: 78px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding-left: 10px;
}

.section-timeline .section-header::before {
  position: absolute;
  top: 54px;
  left: 50.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.section-timeline .section-content {
  margin-top: 65px;
}

.section-timeline .section-content .stage {
  padding-bottom: 33px;
  position: relative;
}

.section-timeline .section-content .stage-header {
  font-size: 18px;
  font-weight: 600;
}

.section-timeline .section-content .stage-content {
  margin-top: 8px;
  line-height: 1.35;
}

.section-timeline .section-content .stage-2 {
  padding-bottom: 31.5px;
}

.section-timeline .section-content .stage-3 {
  padding-bottom: 29px;
}

.section-timeline .section-content .stage-4 .stage-header {
  margin-top: 3px;
}

.section-timeline .section-content .stage-4 .stage-content {
  margin-top: 15px;
}

.section-timeline .section-content .stage-number-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

.section-timeline .section-content .stage-number-container .stage-number {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid green;
}

.section-timeline .section-content .stage-number-container .stage-number .value {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-timeline .section-content .stage-number-container .stage-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border: 1px dashed #e60000;
  z-index: -1;
}

.section-timeline .section-content .stage-left {
  text-align: right;
  padding-right: 39px;
}

@media (max-width: 767px) {
  .section-timeline .section-content .stage-left {
    text-align: justify;
    padding-right: 0px;
  }
}

.section-timeline .section-content .stage-right {
  padding-left: 38px;
}

.section-bid {
  min-height: 632px;
}

.section-bid .section-header {
  margin-top: 72.5px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.1px;
  padding-left: 7px;
  position: relative;
}

.section-bid .section-header::before {
  position: absolute;
  top: 54px;
  left: 52%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 82px;
  background-color: #e60000;
  content: "";
}

.section-bid .section-content .weconnect {
  font-size: 16px;
  position: relative;
  margin-top: 31px;
  padding-left: 9px;
}

.section-bid .section-content .inputs {
  margin-top: 20px;
}

.section-bid .section-content .inputs .text-inputs {
  padding-left: 8%;
  padding-right: 6.3%;
}

.section-bid .section-content .inputs .text-inputs .input-group {
  margin-top: 29px;
}

.section-bid .section-content .inputs .text-inputs .input-group input {
  font-size: 14px;
  border-right: none;
}

.section-bid .section-content .inputs .text-inputs .input-group span {
  background: white;
  border-left: none;
  min-width: 49px;
}

.section-bid .section-content .inputs .agree {
  margin-top: 19px;
  padding-left: 8%;
  padding-right: 6.3%;
}

.section-bid .section-content .inputs .agree label {
  position: relative;
  padding-left: 0;
  width: 100%;
}

.section-bid .section-content .inputs .agree label .agree-checkbox {
  width: 15px;
  height: 14px;
  display: inline-block;
  background: url(/src/icons/checkbox-unchecked.png) no-repeat;
}

.section-bid .section-content .inputs .agree label input[type='checkbox'] {
  display: none;
}

.section-bid .section-content .inputs .agree label input[type='checkbox']:checked + .agree-checkbox {
  height: 15px;
  background: url(/src/icons/checkbox-checked-2.png) no-repeat;
}

.section-bid .section-content .inputs .agree .agree-text {
  position: absolute;
  top: -3px;
  left: 34px;
  font-size: 14px;
  font-weight: normal;
  word-wrap: break-word;
  display: inline-block;
}

.section-bid .section-content .bid-button-module {
  margin-top: 26px;
}

.section-bid .section-content .bid-button-module .bid-btn {
  padding-left: 10%;
  padding-right: 8.8%;
}

.section-bid .section-content .bid-button-module .bid-btn button {
  font-size: 16px;
  width: 100%;
}

.news {
  min-height: 565px;
}

.news .section-header {
  margin-top: 81px;
  font-size: 30px;
  font-weight: bold;
  padding-right: 3px;
  position: relative;
}

.news .section-header::before {
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.news .section-content {
  margin-top: 36px;
}

.news .section-content .news-item {
  font-size: 14px;
  font-weight: 300;
  padding-left: 7px;
  padding-right: 7px;
}

.news .section-content .news-item .news-date {
  margin-top: 14px;
  font-weight: lighter;
  line-height: 13.29px;
}

.news .section-content .news-item .news-caption {
  font-weight: bolder;
  letter-spacing: 0.3px;
  line-height: 17.44px;
  margin-top: 5px;
}

.news .section-content .news-item .news-content {
  margin-top: 9.5px;
  position: relative;
  line-height: 1.2;
}

.news .section-content .news-item .news-content::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
}

.section-map-contacts {
  min-height: 600px;
  color: white;
}

.section-map-contacts a {
  color: white;
}

.section-map-contacts .section-header {
  margin-top: 111.5px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  width: 300px;
  color: green;
}

.section-map-contacts .section-header::before {
  position: absolute;
  top: 50px;
  left: 1px;
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.section-map-contacts .contacts-content {
  margin-top: 24px;
  width: 300px;
}

.section-map-contacts .contacts-content .contacts {
  margin-top: 9px;
  font-size: 16px;
}

.section-map-contacts .contacts-content .contacts a {
  display: block;
  height: 36px;
  color: green;
}

.section-map-contacts .contacts-content .contacts .cont-data {
  margin-left: 7.5px;
}

.section-map-contacts .contacts-content .contacts .contact-phone {
  margin-left: 2px;
}

.section-map-contacts .contacts-content .contacts .contact-phone .cont-data {
  margin-left: 8.5px;
  vertical-align: -2px;
}

.section-map-contacts .contacts-content .info {
  margin-top: 10px;
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  color: yellow;
  line-height: 1.2;
}

.section-map-contacts .contacts-content .social {
  margin-top: 35px;
}

.section-map-contacts .contacts-content .social .social-ref {
  margin-right: 9px;
}

.section-map-contacts .section-map {
  padding-right: 0;
}

.section-partners {
  min-height: 439px;
}

.section-partners .section-header {
  margin-top: 74px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding-right: 18px;
}

.section-partners .section-header::before {
  position: absolute;
  top: 54px;
  left: 49.3%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 81px;
  background-color: #e60000;
  content: "";
}

.section-partners .section-content .data {
  margin-top: 30px;
  width: 650px;
}

.section-partners .section-content .slider {
  margin-top: 50px;
  position: relative;
}

.section-partners .section-content .slider .slider-arrow {
  margin-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.section-partners .section-content .slider .slider-items .slider-item {
  width: 33.3%;
}

.section-partners .section-content .slider .slider-items .slider-item img {
  max-height: 43px;
}

.section-footer {
  min-height: 265px;
}

.section-footer .footer-navbar {
  margin-top: 43px;
  padding-left: 3px;
  margin-bottom: 10px;
}

.section-footer .footer-navbar li {
  display: inline-block;
  padding-left: 26px;
  padding-right: 26px;
}

.section-footer .footer-navbar li a {
  font-size: 16px;
  font-family: 'Myriad Pro';
  letter-spacing: 1px;
  color: greenyellow;
}

.section-footer .copyright {
  margin-top: 18px;
  font-size: 14px;
  font-weight: lighter;
  color: greenyellow;
  padding-right: 13px;
}

.section-footer .social {
  margin-top: 34px;
  padding-right: 27px;
}

.section-footer .social .social-ref {
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.section-footer .social .social-ref img {
  outline: 1px solid orangered;
}

body {
  cursor: url(/src/cursors/01.png), default;
}

body a {
  cursor: url(/src/cursors/01.png), default;
}

body a:hover {
  cursor: url(/src/cursors/01.png), default;
}

body :-webkit-any-link {
  cursor: url(/src/cursors/01.png), default;
}

body :-moz-any-link {
  cursor: url(/src/cursors/01.png), default;
}

body :any-link {
  cursor: url(/src/cursors/01.png), default;
}

body :-webkit-any-link:hover {
  cursor: url(/src/cursors/01.png), default;
}

body :-moz-any-link:hover {
  cursor: url(/src/cursors/01.png), default;
}

body :any-link:hover {
  cursor: url(/src/cursors/01.png), default;
}

.wrap {
  font-family: "Open Sans";
}
/*# sourceMappingURL=main.css.map */