.fon {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	background-image: url(/src/img/fon.png);
	background-position-x: center;
	opacity: 0.6;
	padding: 0;
	min-width: 1146px;
	z-index: -500;

	.myCol {
		// visibility: hidden;
		height: 20000px;
		text-align: center;
		color: red;

		&:nth-child(2n) {
			background: rgba($color: #bebebe, $alpha: 0.2);
		}

		&:nth-child(2n+1) {
			background: rgba($color: #0036a3, $alpha:0.1);
		}
	}
}