.fon {z-index: -1000;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	background-image: url(/src/img/fon.png);
	background-position-x: center;
	opacity: 0.9;
	padding: 0;
	min-width: 1146px;

	.myCol {
		// visibility: hidden;
		height: 10000px;
		text-align: center;
		color: red;

		&:nth-child(2n) {
			background: rgba($color: #bebebe, $alpha: 0);
		}

		&:nth-child(2n+1) {
			background: rgba($color: #0036a3, $alpha:0);
		}
	}
}

.fon_i_setka{
	z-index: -1000;
}
.about{
	z-index: 100;
}