.navbar {
	// height: 58px;
	// margin: 0 7px;
	padding: 0 33px;
	margin: 0 7px;
	font-size: 16px;

	.nav {
		// letter-spacing: 0.4px;

		.menu {
			padding: 0 18.3px;
		}

		.dropdown {
			padding-right: 19px;
		}
	}

	.navbar-right {
		.glyphicon {
			font-size: 22px;
		}

		a {
			width: 49px;
		}
	}


	// opacity: 0.5;

}