.stages {

	min-height: 893px;

	.section-header {
		margin-top: 78px;
		font-size: 30px;
		font-weight: bold;
		position: relative;

		&::before {
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
			// right: 100%;
			height: 2px;
			width: 81px;
			background-color: $color-red;
			content: "";
		}
	}

	.section-content {
		margin-top: 65px;
		position: relative;

		.inner-row {
			display: flex;
		}

		.stage {
			max-width: 360px;
			padding-bottom: 35px;
			position: relative;

			.stage-header {
				font-size: 18px;
				font-weight: bold;
			}

			.stage-content {
				margin-top: 10px;
				line-height: 1.28;
			}
		}

		.stage-number-container {
			.stage-number {
				height: $stages-section-number-radius;
				width: $stages-section-number-radius;
				background: $color-red;
				border-radius: 50%;

				.value {
					color: white;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.stage-line {
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				// display: cell;
				// height: 100%-$stages-section-number-radius;
				border: 1px dashed $color-red;
				z-index: -1;

			}
		}

		.stage-left {
			// padding-right: 40px;
			// border-right: 1px dashed red;
			text-align: right;
			// display: inline-block;
			position: relative;
			left: 100%;
			transform: translateX(-100%);

			@media (max-width: 767px) {
				// max-width: 360px;
				text-align: left;
				// padding-right: 0px;
				// margin-right: auto;
				left: 0%;
				transform: translateX(0%);
				// border-right: 0;
				// border-left: 2px dashed red;
				// margin-left: 20px;
				// margin-right: 20px;
				// padding-left: 20px;

			}

		}

		// &::after{
		// 	position: absolute;
		// 	top: 0;
		// 	right: -30px;
		// 	content: "eggg";
		// }
	}

	// .stage-right {
	// 	// padding-left: 40px;
	// 	// border-left: 1px dashed red;


	// 	@media (max-width: 767px) {
	// 		max-width: 360px;
	// 		text-align: left;
	// 		padding-right: 0px;
	// 		margin-right: auto;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		border-right: 0;
	// 		border-left: 2px dashed red;
	// 		margin-left: 20px;
	// 		margin-right: 20px;
	// 		padding-left: 20px;

	// 	}
	// }


}