.section-map-contacts {
	min-height: 600px;
	color: white;
	// background: #2c2c2c;

	a {
		color: white;
	}

	&>.row {
		background: #2c2c2c;
	}

	.section-header {
		margin-top: 110px;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		width: 300px;

		&::before {
			position: absolute;
			top: 55px;
			height: 2px;
			width: 81px;
			background-color: $color-red;
			content: "";
		}
	}

	.contacts-content {
		margin-top: 25px;
		width: 300px;

		.contact {
			margin-top: 11px;
			font-size: 16px;

			.icon,
			.data {
				display: inline-block;
			}

			.data {
				margin-left: 8px;
				color: green;
			}
		}

		.info {
			margin-top: 22px;
			width: 280px;
			font-size: 14px;
			font-weight: 300;
			color: yellow;
			line-height: 1.2;
		}

		.social {
			margin-top: 38px;

			.social-ref {
				margin-right: 10px;
			}
		}
	}

	.section-map {
		padding-right: 0;
	}
}