.section-bid {
	min-height: 632px;

	.section-header {
		margin-top: 72.5px;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: -0.1px;
		padding-left: 7px;
		position: relative;

		&::before {
			position: absolute;
			top: 54px;
			left: 52%;
			transform: translateX(-50%);
			// right: 100%;
			height: 2px;
			width: 82px;
			background-color: $color-red;
			content: "";
		}
	}

	.section-content {

		// position: relative;
		.weconnect {
			font-size: 16px;
			position: relative;
			margin-top: 31px;
			padding-left: 9px;
		}

		.inputs {
			margin-top: 20px;

			.text-inputs {
				padding-left: 8%;
				padding-right: 6.3%;
				// margin-top: 29px;

				.input-group {
					// padding-top: 129px;
					// height: 47px;
					margin-top: 29px;

					input {
						font-size: 14px;
						border-right: none;
					}

					span {
						background: white;
						border-left: none;
						min-width: 49px;
					}

				}
			}

			.agree {
				margin-top: 19px;
				padding-left: 8%;
				padding-right: 6.3%;

				label {
					position: relative;
					padding-left: 0;
					width: 100%;

					.agree-checkbox {
						width: 15px;
						height: 14px;
						display: inline-block;
						background: url(/src/icons/checkbox-unchecked.png) no-repeat;

					}

					input[type='checkbox'] {
						display: none;

						&:checked+.agree-checkbox {
							height: 15px;
							background: url(/src/icons/checkbox-checked-2.png) no-repeat;
						}
					}
				}

				.agree-text {
					position: absolute;
					top: -3px;
					left: 34px;
					font-size: 14px;
					font-weight: normal;
					word-wrap: break-word;
					display: inline-block;
				}
			}


		}

		.bid-button-module {
			margin-top: 26px;

			.bid-btn {

				padding-left: 10%;
				padding-right: 8.8%;

				button {
					font-size: 16px;
					width: 100%;
				}
			}
		}
	}
}