.section-timeline {

	min-height: 893px;
	color: darkred;

	.section-header {
		margin-top: 78px;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		padding-left: 10px;

		&::before {
			position: absolute;
			top: 54px;
			left: 50.5%;
			transform: translateX(-50%);
			// right: 100%;
			height: 2px;
			width: 81px;
			background-color: $color-red;
			content: "";
		}
	}

	.section-content {
		margin-top: 65px;

		.stage {
			// max-width: 400px; //360 + 40 padding right
			padding-bottom: 33px;
			position: relative;
		}

		.stage-header {
			font-size: 18px;
			font-weight: 600;
		}

		.stage-content {
			margin-top: 8px;
			line-height: 1.35;
		}

		.stage-2 {
			padding-bottom: 31.5px;
		}

		.stage-3 {
			padding-bottom: 29px;
		}

		.stage-4 {
			.stage-header {
				margin-top: 3px;
			}

			.stage-content {
				margin-top: 15px;
			}
		}

		.stage-number-container {

			position: absolute;
			top: 0;
			bottom: 0;

			.stage-number {
				height: $stages-section-number-radius;
				width: $stages-section-number-radius;
				// background: $color-red;
				border-radius: 50%;
				border: 1px solid green;

				.value {
					color: white;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.stage-line {
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				border: 1px dashed $color-red;
				z-index: -1;
			}
		}

		.stage-left {
			text-align: right;
			padding-right: 39px;

			@media (max-width: 767px) {
				// 	// max-width: 360px;
				text-align: justify;
				padding-right: 0px;
				// 	// margin-right: auto;
				// 	left: 0%;
				// 	transform: translateX(0%);
				// 	// border-right: 0;
				// 	// border-left: 2px dashed red;
				// 	// margin-left: 20px;
				// 	// margin-right: 20px;
				// 	// padding-left: 20px;
			}
		}

		.stage-right {
			padding-left: 38px;
		}
	}



	// 	@media (max-width: 767px) {
	// 		max-width: 360px;
	// 		text-align: left;
	// 		padding-right: 0px;
	// 		margin-right: auto;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		border-right: 0;
	// 		border-left: 2px dashed red;
	// 		margin-left: 20px;
	// 		margin-right: 20px;
	// 		padding-left: 20px;

	// 	}
	// }

}