.section-map-contacts {
	min-height: 600px;
	color: white;
	// background: #2c2c2c;

	a {
		color: white;
	}

	&>.row {
		// background: #2c2c2c;
	}

	.section-header {
		margin-top: 111.5px;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		width: 300px;
		color: green;

		&::before {
			position: absolute;
			top: 50px;
			left: 1px;
			height: 2px;
			width: 81px;
			background-color: $color-red;
			content: "";
		}
	}

	.contacts-content {
		margin-top: 24px;
		width: 300px;

		.contacts {
			margin-top: 9px;
			font-size: 16px;

			a {
				display: block;
				height: 36px;
				color: green;
			}

			.cont-data {
				margin-left: 7.5px;
			}

			.contact-phone {
				margin-left: 2px;

				.cont-data {
					margin-left: 8.5px;
					vertical-align: -2px;
				}
			}
		}

		.info {
			margin-top: 10px;
			width: 280px;
			font-size: 14px;
			font-weight: 300;
			color: yellow;
			line-height: 1.2;
		}

		.social {
			margin-top: 35px;

			.social-ref {
				margin-right: 9px;
			}
		}
	}

	.section-map {
		padding-right: 0;
	}
}