.news {
	min-height: 565px;

	.section-header {
		margin-top: 81px;
		font-size: 30px;
		font-weight: bold;
		padding-right: 3px;
		position: relative;

		&::before {
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
			// right: 100%;
			height: 2px;
			width: 81px;
			background-color: $color-red;
			content: "";
		}
	}

	.section-content {
		margin-top: 36px;

		.news-item {
			font-size: 14px;
			font-weight: 300;

			padding-left: 7px;
			padding-right: 7px;

			.news-date {
				margin-top: 14px;
				font-weight: lighter;
				line-height: 13.29px;
			}

			.news-caption {
				font-weight: bolder;
				letter-spacing: 0.3px;
				line-height: 17.44px;
				margin-top: 5px;
			}

			.news-content {
				margin-top: 9.5px;
				position: relative;
				line-height: 1.2;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					bottom: 0;
					left: 0;
					background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
				}
			}

			// .news-overlay{
			// 	position: absolute;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	height: 120px;
			// 	background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
			// }
		}
	}
}